<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>College Journey</title>
   <link rel="stylesheet" href="styles.css" />
 </head>
 <body>
   <!-- Tabs Navigation -->
   <nav>
     <ul class="tabs">
       <li><a href="#home" class="tab-link active">Home</a></li>
       <li><a href="#user" class="tab-link">User</a></li>
       <li><a href="#about" class="tab-link">About</a></li>
     </ul>
   </nav>


   <!-- Tab Content -->
   <div class="tab-content">
     <!-- Home Tab -->
     <div id="home" class="tab-pane active">
       <div class="home-container">
         <div class="content">
           <h1>Welcome to your UNI-VERSE!</h1>
           <p class="intro-text">Start your adventure with us today!</p>


           <!-- Non-Editable Boxes -->
           <div class="boxes-container">
             <div class="box">
               <h3>Box 1 Title</h3>
               <p>
                 This is the content for box 1. It's non-editable and will
                 display static information.
               </p>
             </div>
             <div class="box">
               <h3>Box 2 Title</h3>
               <p>
                 This is the content for box 2. Similar to box 1, you can add
                 detailed information here.
               </p>
             </div>
             <div class="box">
               <h3>Box 3 Title</h3>
               <p>
                 This is the content for box 3. Like the other boxes, you can
                 add any amount of text here.
               </p>
             </div>
           </div>


           <br /><br />


           <!-- Profile Image Container -->
           <div class="image-container">
             <a href="#user">
               <img
                 src="whipnoise.png"
                 alt="Profile"
                 id="profileImage"
                 class="profile-image"
               />
             </a>
           </div>


           <p class="button-description" id="button-status">
             Click the button to begin
           </p>
         </div>
       </div>
     </div>


     <!-- User Tab -->
     <div id="user" class="tab-pane">
       <h1>User</h1>
       <p>Welcome to your personal space where you can manage your account.</p>
     </div>


     <!-- About Tab -->
    <!-- About Tab -->
    <div id="about" class="tab-pane">
     <div class="home-container">
       <div class="content">
         <h1>About</h1>
         <p class="intro-text">Use this revolutionary app to gauge your possible college choices! Gain vital knowledge of a prospective school's statistics that will influence your choice!</p>
 </div>
</div>






   <script src="script.js"></script>
 </body>
</html>


