{% extends 'main.html' %}
{% block bodycontent %}
<div class="home-container">
    <div class="content">
      <h1>Welcome to your UNI-VERSE!</h1>
      <p class="intro-text">Start your adventure with us today!</p>


      <!-- Non-Editable Boxes -->
      <div class="boxes-container">
        <div class="box">
          <p>
            Let us help you blast off on your journey to a new world: college!
          </p>
        </div>
        <div class="box">
          <p>
        If you want a college, we got it, just simply go to our search bar and find the college you want all in one place.
          </p>
        </div>
        <div class="box">
          <p>
           With UNI-VERSE you can find all the important things that make a college a college. From the scores you need, the programs they offer, and the future you want, all in one place.
          </p>
        </div>
      </div>
    </div>
</div>

{% endblock %}